CIRCLE_USE_REAL=false
CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET_CIPHERTEXT=
CIRCLE_API_BASE_URL=https://api.circle.com
CCTP_IRIS_BASE_URL=https://iris-api-sandbox.circle.com
CIRCLE_X402_FACILITATOR_URL=
CIRCLE_STABLEFX_BASE_URL=
CIRCLE_ARC_BLOCKCHAIN=ARC-TESTNET
CIRCLE_BASE_BLOCKCHAIN=BASE-SEPOLIA
CIRCLE_USDC_TOKEN_ID=
CIRCLE_EURC_TOKEN_ID=
CCTP_SOURCE_DOMAIN=6
CCTP_DESTINATION_DOMAIN=26
ORACLE_CIRCLE_WALLET_ID=
ORACLE_CIRCLE_WALLET_ADDRESS=
EXECUTION_ARC_CIRCLE_WALLET_ID=
EXECUTION_ARC_CIRCLE_WALLET_ADDRESS=
EXECUTION_BASE_CIRCLE_WALLET_ID=
EXECUTION_BASE_CIRCLE_WALLET_ADDRESS=
